<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twój profil</title>
</head>
<body>
<section>
    <h1>Twój profil<span th:text="${userSummary.username}"></span></h1>
</section>
<section>
    <form action="/edit-profile" method="post">
        <div>
            <label>Imię:
                <input type="text" name="firstName"/>
            </label>
        </div>
        <div>
            <label>Nazwisko:
                <input type="text" name="lastName"/>
            </label>
        </div>
        <div>
            <label>Data urodzenia:
                <input type="date" name="birthDate"/>
            </label>
        </div>
        <div>
            <button type="submit">Zapisz</button>
        </div>
    </form>
</section>
</body>
</html>